@model List<ClienteModel>
@{
    ViewData["Title"] = "Listagem de Clientes";
}

<div class="text-center">
    <div margin-left='auto'>
        <a class='btn btn-primary' role='button' asp-controller='Cliente' asp-action='Criar'>Adicionar Cliente</a>
    </div>
    <br />
    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }
    
    @if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
          @TempData["MensagemErro"]
        </div>
    }
    
    <br />
    <h1 class="display-4">Listagem de Clientes!</h1>
    <br />

  <div class="px-4">

    <div class="table-wrapper">
      <!--Table-->
      <table class="mb-0" id="tableClientes">

        <!--Table head-->
        <thead>
          <tr>
            <th>
              <input class="form-check-input" type="checkbox" id="checkbox">
              <label class="form-check-label" for="checkbox" class="mr-2 label-table"></label>
            </th>
            <th class="th-lg">
              <a>First Name
                <i class="fas fa-sort ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">Last Name
                <i class="fas fa-sort ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">Username
                <i class="fas fa-sort ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">Username
                <i class="fas fa-sort ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">Username
                <i class="fas fa-sort ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">Username
                <i class="fas fa-sort ml-1"></i>
              </a>
            </th>
            <th class="th-lg">
              <a href="">
                <i class="fas fa-sort ml-1"></i>
              </a>
            </th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          @if (Model != null && Model.Any())
          {
              foreach (ClienteModel cliente in Model)
              {
                  <tr>
                    <th scope="row">
                      <input class="form-check-input" type="checkbox" id="@cliente.Id">
                    </th>
                    <td>@cliente.Name</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.Date</td>
                    <td>@cliente.Cpf</td>
                    <td>@cliente.Genero</td>
                    <td>@(@cliente.Bloqueado ? "Sim": "Não")</td>
                    
                    <td>
                      <div class="btn-group" role="group">
                      <a  role='button' class="btn btn-primary" asp-route-id='@cliente.Id' asp-controller='Cliente' asp-action='Editar'>Editar</a>
                      <a  role='button' class="btn btn-danger" asp-route-id='@cliente.Id' asp-controller='Cliente' asp-action='Apagar'>Apagar</a>
                    </div>
                    </td>
                  </tr>
              }
          }
        </tbody>
        <!--Table body-->
      </table>
      <!--Table-->
    </div>

  </div>
